:root{ /* custom properties */
    --main-paragraph-color: #42105b;
    font-size: 14px;
}

@media (max-width: 10cm) {
    header {
      position:static;
    }
}

@media (min-width: 10cm) {
    header {
      position: sticky;
      top: 0;
    }
}

#main-paragraph { /* for main p */
    color: var(--main-paragraph-color, red);
    margin: auto;
}

.jacquard-12-charted-regular { /* google font */
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

* { /* for all elements */
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

#minutes { 
    margin-top: 10mm;
    padding-top: 1cm;
    border-top: 5px solid black;
}

.attendance {
    color: color(display-p3 0.1 0.3 0.3);
    & h2{
        color:rgb(0, 193, 167);
    }
}

ol {
    color: color-mix(in srgb, black 50%, blue 50%);
    border-top: 2px solid royalblue;
    border-bottom: 2px solid yellowgreen;
    border-left: 2px solid royalblue;
    border-right: 2px solid yellowgreen;
    max-width: 150vw;
}

body {
    font-size: 14px;
}

h2{
    color: rgb(0, 53, 88);
    text-align: center;
    text-decoration: underline overline;
    font-size: 2em;
}

h4{
    color: hsl(253, 87%, 20%);
}

nav {
    border-color: slateblue;
    border-style: groove;
    border-width: 5px;
    border-radius: 10px;
    min-width: auto;
    max-width: 500px;
    margin: auto;
}

img, video {
    width: 500px;
    height: 300px;
}

p {
    position: static;
}

#agenda-box {
    display: flex;
    justify-content: space-evenly;
}

#last {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "one two three"
        "one two three";
    grid-column-start: 1;
    grid-column-end: 5;
    grid-column-gap: 50px;
}

.item-a {
    grid-area: header;
}

.item-b {
    grid-area: one;
}

.item-c {
    grid-area: two;
}

.item-d {
    grid-area: three;
}

button:hover {
        background-color: greenyellow;
}

button:active {
    background-color: lightcoral;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.useless {
    display: none;
}

[attribute="agenda"]{
    color: lightblue;
}

li li {
    color: white;
}

header > p {
    color: lightblue;
}

h1 + h2 {
    color: black;
}

li ~ li {
    color: royalblue;
}

h2.content-title {
    color: royalblue;
}

li:has(> ul){
    color: purple;
}